body{
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;   
    color: white;
}
.foKep{
    width: 400px;
}
footer{
    display: flex;
    justify-content: center;
    background-color: #B6904A;
    margin-top: auto;
    
    
}
.nyil{
    width: 40px;
    margin-left: 10px;
}
.dropdown{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
footer h1{
    margin-top: 10px;
    font-size: 40px;
    margin-left: -20px;
}
footer img{
    width: 90px;
    height: 70px;
}
select{
    color: #B6904A;
    background-color: black;
    border: solid 1px #B6904A;
}

header{
    display: flex;
    justify-content: center;
   
}

header img{
    width: 300px;
}
main{
    display: flex;
    justify-content: center;

}
.kepKeret{
    border: 20px solid #B6904A;
    background-color: #B6904A;   
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.kepKeret h1{
    color: black;
}
.kepKeret img {
    width: 250px;
    margin-left: 60px;
    border: 2px solid black;
}
button{
    background-color: #B6904A;
    width: 200px;
    border-radius: 50px;
    font-size: 30px;
    border: 1px solid #B6904A;
    border-radius: 50px;

}
.frissit{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
a{
    color: #212529;
    text-decoration: none;
}
