body{
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;   
}

.foKep{
    width: 400px;
}



main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button{
    border: 1px solid #B6904A;
    border-radius: 50px;
    background-color: #B6904A;
    width: 400px;
    font-size: 50px;
}

button img{
    height: 100px;
    
}

.klasszikusGomb{
    display: flex;
    justify-content: center;
}
.klasszikusGomb img{
    margin-left: -50px;
}


.emojiGomb{
    display: flex;
    justify-content: center;
}
.emojiGomb img{
    margin-left: -140px;
}

.kepGomb{
    display: flex;
    justify-content: center;
}
.kepGomb img{
    margin-left: -180px;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #B6904A;
    margin-top: auto;
    font-weight: bold;

}
footer h1{
    margin-top: 10px;
    margin-left: -20px;
    
}
h1{
    font-size: 40px;
}
footer img{
    width: 90px;
    height: 70px;
}


header{
    display: flex;
    justify-content: center;
   
}


a{
    color: #212529;
    text-decoration: none;
}

@media (max-width: 400px){
    .foKep{
        width: 300px;
    }
    button{
        width: 300px;
        font-size: 45px;
    }
    button img{
        height: 80px;
    }    
    .klasszikusGomb img{
        margin-left: -20px;
    }
    .emojiGomb img{
        margin-left: -110px;
    }
    .kepGomb img{
        margin-left: -140px;
    }
}