body{
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.foKep{
    width: 400px;
    
}

.content{
    display: flex;
    flex-direction: column;
    
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

button{
    border: 1px solid #B6904A;
    border-radius: 20px;
    background-color: #B6904A;
    width: 90px;
    

    
}
button img{
    height: 50px;
}

.klasszikusGomb{
    display: flex;
    justify-content: center;
    
}

.emojiGomb{
    display: flex;
    justify-content: center;
}

.kepGomb{
    display: flex;
    justify-content: center;
}
footer{
    display: flex;
    justify-content: center;
    background-color: #B6904A;
    margin-top: auto;
    
    
}


header{
    display: flex;
    justify-content: center;
   
}


