body{
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

header{
    display: flex;
    justify-content: center;
}

    
img{
    width: 300px;
    padding: 25px;

}

.borders{
    display: flex;
    justify-content: space-between;
}

.foKep{
    width: 400px;
}
