body{
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

header{
    display: flex;
    justify-content: center;
}

    
img{
    width: 350px;
    padding: 20px;

}

.borders{
    display: flex;
    justify-content: space-between;
}