body{
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header
{
    display: flex;
    justify-content: center;

}
img{
    width: 300px;
    
}
.nyil{
    width: 40px;
}
footer{
    display: flex;
    justify-content: center;
    margin-top: auto;
    background-color: #B6904A;
}
table{
    width: 50%;
    border: 1px solid white;
}
.tulajdonsag{

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    color: #B6904A;
}
.tulajdonsag h2{
    margin-right: 20px;
    
}
.dropdown{
    display: flex;
    justify-content: center;
}
main{
    margin-top: 70px;
}

#tablazat{
    margin: auto;
    margin-top: 30px;
    color: #B6904A;
    margin-right: auto;
}
.gombeslogo{
    display: flex;
    justify-content: center;
}
footer img {
    width: 5%;
    height: 5%;
}
button{
    background-color: #B6904A;
    margin-top: 120px;
    border-radius: 20px;
}
button img {
    width: 70px;
}
