body{
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header
{
    display: flex;
    justify-content: center;

}
.foKep{
    width: 400px;
    
}
.nyil{
    width: 40px;
}
footer{
    display: flex;
    justify-content: center;
    margin-top: auto;
    background-color: #B6904A;
}
table{
    width: 50%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
td{
    color: black;
}
.tulajdonsag{

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    color: #B6904A;
}
.tulajdonsag h2{
    margin-right: 20px;
    
}
.dropdown{
    display: flex;
    justify-content: center;
}
main{
    margin-top: 70px;
}

#tablazat{
    margin: auto;
    margin-top: 40px;
    color: #B6904A;
    margin-right: auto;
}
footer img {
    width: 90px;
    height: 70px;
}
footer h1{
    margin-top: 10px;

}
a{
    color: black;
    text-decoration: none;
}
.gombeslogo{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
button{
    background-color: #B6904A;
    width: 200px;
    border-radius: 50px;
    font-size: 30px;
    border: 1px solid #B6904A;
    border-radius: 50px;

}
button img {
    width: 90px;
    height: 70px;
    margin-left : -60px;
}
