body{
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

header{
    display: flex;
    justify-content: center;
}

    
img{
    width: 300px;
}


.nyil{
    width: 40px;
}

.nyilacska{
    display: flex;
    justify-content: center;
}


.emojik{
    background-color: #B9985C;
    border: 5px solid #B9985C;
    padding: 25px;
    margin: 60px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #B9985C;
    text-align: center;
    font-weight: bold;
}


.dropdown{
    display: flex;
    justify-content: center;
}

button{
    background-color: #B6904A;
    margin-top: 120px;
    border-radius: 20px;
}


footer{
    display: flex;
    justify-content: center;
    margin-top: auto;
    background-color: #B6904A;
}

main{
    margin-top: 70px;
}

footer img {
    width: 90px;
    height: 70px;
}
footer h1{
    margin-top: 10px;
}

h1{
    font-size: 40px;
}

.foKep{
    width: 400px;
}

a{
    color: #212529;
    text-decoration: none;
}